@import url('https://fonts.googleapis.com/css2?family=Red+Hat+Display:wght@500;700;900&display=swap');
:root{
    --Pale-blue: hsl(225, 100%, 94%);
    --Bright-blue: hsl(245, 75%, 52%);
    --Very-pale-blue: hsl(225, 100%, 98%);
    --Desaturate-blue: hsl(224, 23%, 55%);
    --Dark-blue: hsl(223, 47%, 23%);
    --Desatured-Bright-blue: hsl(245, 75%, 60%);
    box-sizing: border-box;
}

body{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url("images/pattern-background-desktop.svg");
    background-repeat: no-repeat;
    background-color:  var(--Pale-blue);
    background-position: top;
    background-size: contain;
    color: var(--Desaturate-blue);  
    margin: 0;
    padding: 0;
    font-family: 'Red Hat Display', sans-serif;
    font-size: 16px;
}

#card-container{    
    width: 28em;
    height: auto;    
    border-radius: 15px;
    background-color: var(--Very-pale-blue);
    box-shadow: var(--Pale-blue) 0px 5px 20px;
}

.main-image{
    display: block;
    width: 100%;
    border-radius: 15px 15px 0 0;
}

.cd-bottom{    
    text-align: center;
}

.titulo{
    color: var(--Dark-blue);
    font-size: 28px;
    font-weight: 900;
    padding: 0.7em 3.2em 0;
}

.parag{
    margin: 0 2.8em;
}

.price{
    display: flex;
    align-items: center;
    margin: 2em 4.8em;
}

.annual{
    font-weight: 900;
    color: var(--Dark-blue);    
}

.annual, .tsmall{
    display: block;
    line-height: 1.5em;
    margin-left: 1em;
}

.change{
    display: inline-block;
    margin-left: auto;
    font-weight: 700;
    font-size: 14px;
}

.order-bt{
    margin: 2em 2.8em;    
    }

.bt-payment{
    display: block;
    width: 100%;
    height: 3em;
    background-color: var(--Bright-blue);
    border-radius: 8px;
    border-style: none;
    color: white; 
    margin: 1.5em 0em 2em;
    font-weight: 700;
    box-shadow: hsla(245, 75%, 52%, 0.3) 0px 10px 20px;
    font-size: 13px;   
}

.bt-cancel{
    color: var(--Desaturate-blue);
    text-decoration: none;
    font-weight: 700;
    font-size: 13px; 
}

.change:hover{
    text-decoration: none;
    color: var(--Desatured-Bright-blue);
}

.bt-payment:hover{
    cursor: pointer;
    background-color: var(--Desatured-Bright-blue);
}

.bt-cancel:hover{
    cursor: pointer;
    color: var(--Dark-blue);
}